@use '../variables'as *;

.container {
    width: 67%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-secondary;

    .nav {
        grid-area: navbar;
    }

    .sidebar-left {
        grid-area: sidebar-left;
    }

    .sidebar-right {
        grid-area: sidebar-right;
    }

    .carousel {
        grid-area: carousel;
    }

    .stories-section {
        grid-area: stories;
    }

    .recommended {
        grid-area: recommended;
    }

    .top-cats {
        grid-area: top-categories;
    }

    .other {
        grid-area: other;
    }

}