@use '../variables' as *;
@use '../mixins' as *;

.sidebar-right {
    min-height: 100vh;
    background-color: $bg-primary;
    width: 25%;
    padding: 1em .3em;
    z-index: 3;

    h1 {
        color: $accent;
    }

    .events {
        width: 99%;
        
        .event {
            position: relative;
            margin: 1em;

            img {
                max-width: 100%;
            }

            .info {
                position: absolute;
                top: 50px;
                border-radius: 0 0 8px 8px;
                width: 100%;
                z-index: 3;
                padding: .5em;
                color: $accent;
            }            
        }
    }

    .pinned {
        color: $label;
        width: 100%;
        height: 150px;
        border: 2px dashed $label;
        border-radius: 12px;
        padding: 1em;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: space-evenly;
        color: $primary;
        font-size: 1.4em;
        margin: 1em 0;
    }
}