@use '../variables'as *;

section.other, section.recommended {
    width: 100%;
    padding: 1em;
    margin-top: 1em;

    .videos {
        display: flex;
        flex-wrap: wrap;
        .video {
            padding: .3em;
            margin: .5em;

            img {
                width: 200px;
            }

            .caption {
                color: $accent;
                font-weight: bold;
            }

            .info {
                display: flex;
                justify-content: space-between;

                .username {
                    color: $primary
                }

                .views {
                    color: $label;
                }
            }
        }
    }
}