@use '../variables'as *;

section {
    width: 100%;
    padding: 1em;
    h1 {
        color: $accent;
    }

    .stories {
        display: flex;
        overflow: hidden;
    
        .story {
            padding: 1em;
            margin: .5em;
            text-align: center;
            font-size: .8em;
    
            img {
                width: 80px;
            }
            
            .username {
                color: $primary;
                font-weight: bold;
            }
    
            .company {
                color: $accent;
            }
    
        }
    }
}