@use '../variables'as *;

section {
    width: 80vw;
    padding: 1em;
    h1 {
        color: $accent;
    }

    .stories {
        display: flex;
        overflow: hidden;
    
        .story {
            padding: 1em;
            margin: 1.5em;
            text-align: center;
    
            img {
                width: 90px;
            }
            
            .username {
                color: $primary;
                font-weight: bold;
            }
    
            .company {
                color: $accent;
            }
    
        }
    }
}