@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;
}

@mixin vertical-list {
    @include reset-list;
    
}